		{{tournementLabel}}
		<div data-ng-controller="PokCtrl" class="pokomon-battles">
			<div class="row row-centered">
				<pokemon name="Celebi"
					image="http://cdn.bulbagarden.net/upload/thumb/e/e7/251Celebi.png/250px-251Celebi.png"
					attacktype="attacktype"
					use-attack="getAttack(name, attacktype, attack)"
					class="col-md-3 col-centered">
				</pokemon>
				<pokemon name="Gengar"
					image="http://cdn.bulbagarden.net/upload/thumb/c/c6/094Gengar.png/250px-094Gengar.png"
					attacktype="attacktype"
					use-attack="getAttack(name, attacktype, attack)"
					class="col-md-3 col-centered">
				</pokemon>
				<pokemon name="Charizard"
					image="http://cdn.bulbagarden.net/upload/thumb/7/7e/006Charizard.png/250px-006Charizard.png"
					attacktype="attacktype"
					use-attack="getAttack(name, attacktype, attack)"
					class="col-md-3 col-centered">
				</pokemon>
				<pokemon name="Articuno"
					image="http://cdn.bulbagarden.net/upload/thumb/4/4e/144Articuno.png/250px-144Articuno.png"
					attacktype="attacktype"
					use-attack="getAttack(name, attacktype, attack)"
					class="col-md-3 col-centered">
				</pokemon>
			</div>
		</div>